body {
    font-family: 'Merriweather', serif;
}

h1, h2 {
    color: #33997b;
}

.navbar-custom {
    background-color: #d1edf7;
}

.navbar-scrolled {
    opacity: 0.9;
    background-color: #f9f9f9 ;
}

.nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    margin: 0 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #33997b;
}

header {
    background-color: #d1edf7;
    color: #33997b;
    position: relative;
    overflow-x: hidden;
}

header h1 {
    padding-top: 220px;
    padding-bottom: 120px;
    font-family: 'Sacramento', cursive;
    font-size: 6.9rem;
}

#right-cloud {
    position: absolute;
    top: 160px;
    right: 150px;
}

#left-cloud {
    position: absolute;
    top: 310px;
    left: 150px;
}

footer {
    background-color: #d1edf7;
}

@media only screen and (max-width: 1200px) {
    #right-cloud {
        right: 50px;
    }
    
    #left-cloud {
        left: 50px;
    }
}
 
@media only screen and (max-width: 1023px) {
    #right-cloud {
        right: -50px;
    }
    
    #left-cloud {
        left: -50px;
    }
}

@media only screen and (max-width: 767px) {
    #right-cloud {
        right: -80px;
    }
    
    #left-cloud {
        left: -70px;
    }

    header h1 {
        font-size: 5.7rem;
    }
}

@media only screen and (max-width: 480px) {
    #right-cloud {
        top: 80px;
        right: -55px;
        width: 120px;
    }
    
    #left-cloud {
        top: 190px;
        left: -40px;
        width: 90px;
    }

    header h1 {
        padding-top: 120px;
        padding-bottom: 80px;
        font-size: 3.8rem;
    }
}